<!DOCTYPE html>
<html>
{{> head }}
<body>
 {{> nav }}
 <h1>Course Menu</h1>
 <p>
 	This is a page for giving users some frequently asked questions.
 </p>	
 {{> bootstrap-from-cdn-body }}
</body>
</html>
