  <!DOCTYPE html>
<html>
<head>
</head>
<body style="background-color:#B6B6B4;color:red;">
	
	<form>
	<font size="5" color=#F70D1A>
	Please select the course you prefer<br>
	<br>
	</font>

		<font size="3" color=#0000A0>
		Computer Science 8:<br> 
		<input type="checkbox" name="Yes" value="Yes" tabindex="1" checked="checked" />Yes<br />
		<input type="checkbox" name="No" value="No" tabindex="2" />No<br />
		<input type="checkbox" name="Probably" value="Probably" tabindex="3"  />Probably<br />

		<br>
		<br>
		<br>


		Computer Science 16:<br>
		<input type="checkbox" name="Yes" value="Yes" tabindex="1" />Yes<br />
		<input type="checkbox" name="No" value="No" tabindex="2" />No<br />
		<input type="checkbox" name="Probably" value="Probably" tabindex="3" checked="checked" />Probably<br />

		<br>
		<br>
		<br>


		Computer Science 24:<br>
		<input type="checkbox" name="Yes" value="Yes" tabindex="1" />Yes<br />
		<input type="checkbox" name="No" value="No" tabindex="2" />No<br />
		<input type="checkbox" name="Probably" value="Probably" tabindex="3"  />Probably<br />

		<br>
		<br>
		<br>


		Computer Science 32:<br>
		<input type="checkbox" name="Yes" value="Yes" tabindex="1" />Yes<br />
		<input type="checkbox" name="No" value="No" tabindex="2" />No<br />
		<input type="checkbox" name="Probably" value="Probably" tabindex="3"  />Probably<br />

		<br>
		<br>
		<br>

		Computer Science 48:<br>
		Not available this quarter<br>


		<br>
		<br>
		<br>


		Computer Science 56:<br>
		<input type="checkbox" name="Yes" value="Yes" tabindex="1" />Yes<br />
		<input type="checkbox" name="No" value="No" tabindex="2" />No<br />
		<input type="checkbox" name="Probably" value="Probably" tabindex="3" />Probably<br />

		<br>
		<br>
		<br>

		</font>






	</form>


	
	<a href="https://gauchospace.ucsb.edu"><button style="height:100px;width:200px;color:red;border-radius:50px">Submit my course</button></a>


	




</body>
</html>

