<!DOCTYPE html>
<html>
{{> head }}
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
    function Scheduling(){
      console.log("did run Scheduling")
      $.post('/api/v1/getcourse',
      {
        Grade: $('#Grade').val(),
        Major: $('#Major').val()
      },
      function (response) {
        for (var i = 0; i < response.length; i++) {
          var c = "c" + (i + 1);
          var u = "u" + (i + 1);
          var p = "p" + (i + 1);
          var t = "t" + (i + 1);
          var d = "d" + (i + 1);
          document.getElementById(c).innerHTML=response[i].courseName;
          document.getElementById(p).innerHTML=response[i].prerequisite;
          document.getElementById(t).innerHTML=response[i].time;
          document.getElementById(d).innerHTML=response[i].date;
          document.getElementById(u).innerHTML=response[i].unit;
        }
      });
  	};
    function Login(){
      console.log("did run Logging in")
      $.post('/api/v1/login',
      {
        userName: $('#userName').val(),
        password: $('#password').val()
      },
      function (response) {
        alert(response);
      });
    };
  </script>

<style>
.shortselect{
  background:#fafdfe;
  height:28px;
  width:180px;
  line-height:28px;
  border:1px solid #9bc0dd;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
}

.select {
text-align: center;
text-align-last: center;
}
</style>

<body>
 {{> nav }}

 <h1 align="center">Course Scheduling</h1>
    <select id="Grade" class="shortselect">
	     <option value ="Freshmen">Freshmen</option>
	   </select>

  	<select id="Major" class="shortselect">
  	  <option value ="CS">Computer Science</option>
  	</select>

    <button onclick="Scheduling();">Scheduling!</button>
    <h1>Courses you can choose:</h1>

    <div>
      <span style="padding-left:50px;">Course:</span>
      <span style="padding-left:150px;">Prerequisite:</span>
      <span style="padding-left:150px;">Time:</span>
      <span style="padding-left:150px;">Date:</span>
      <span style="padding-left:150px;">Unit:</span>
    </div>

    <div>
      <span id="c1" style="padding-left:50px;"></span>
      <span id="p1" style="padding-left:172px;"></span>
      <span id="t1" style="padding-left:205px;"></span>
      <span id="d1" style="padding-left:160px;"></span>
      <span id="u1" style="padding-left:168px;"></span>
     </div>


     <div>
      <span id="c2" style="padding-left:50px;"></span>
      <span id="p2" style="padding-left:164px;"></span>
      <span id="t2" style="padding-left:202px;"></span>
      <span id="d2" style="padding-left:158px;"></span>
      <span id="u2" style="padding-left:164px;"></span>
     </div>


     <div>
      <span id="c3" style="padding-left:50px;"></span>
      <span id="p3" style="padding-left:164px;"></span>
      <span id="t3" style="padding-left:194px;"></span>
      <span id="d3" style="padding-left:160px;"></span>
      <span id="u3" style="padding-left:171px;"></span>
     </div>

     <div>
      <span id="c4" style="padding-left:50px;"></span>
      <span id="p4" style="padding-left:150px;"></span>
      <span id="t4" style="padding-left:173px;"></span>
      <span id="d4" style="padding-left:150px;"></span>
      <span id="u4" style="padding-left:150px;"></span>
     </div>

     <div>
      <span id="c5" style="padding-left:50px;"></span>
      <span id="p5" style="padding-left:150px;"></span>
      <span id="t5" style="padding-left:150px;"></span>
      <span id="d5" style="padding-left:150px;"></span>
      <span id="u5" style="padding-left:150px;"></span>
     </div>




{{> bootstrap-from-cdn-body }}
</body>
</html>
