<!DOCTYPE html>
<html>
{{> head }}

<script>
    function Scheduling(){
      console.log("did run Scheduling")
      $.post('/api/v1/getcourse',
      {
        Grade: $('#Grade').val(),
        Major: $('#Major').val()
      },
      function (data) {
        var response = jQuery.parseJSON(data);
        alert(response);
      });
  	};
  </script>

<style>
.shortselect{
  background:#fafdfe;
  height:28px;
  width:180px;
  line-height:28px;
  border:1px solid #9bc0dd;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
}

.select {
text-align: center;
text-align-last: center;
}
</style>

<body>
 {{> nav }}

 <h1 align="center">Course Scheduling</h1>
    <select id="Grade" class="shortselect">
	     <option value ="Freshmen">Freshmen</option>
	   </select>

  	<select id="Major" class="shortselect">
  	  <option value ="CS">Computer Science</option>
  	</select>

    <button onclick="Scheduling();">Scheduling!</button>
 




{{> bootstrap-from-cdn-body }}
</body>
</html>
